#btn-add {
    float: left;
    margin: 0 20px 20px 0;
}

td {
    vertical-align: middle !important;
}

.table, td, th {
    border-width: 2px !important;
}

.child, .edit, .deactivation-button-td {
    width: 5%;
}

.btn-default {
    background-color: #c2ced8 !important;
}

.underlined-text {
    text-decoration: underline;
}